/*公共样式*/
.necessary{
  color:#d12723;
  font-weight: 600;
}

/*登录页面的输入框 start*/
.login_field .ivu-input{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 245px;
}

.login_field .ivu-input:focus{
  box-shadow: none !important;
}

.login_field .ivu-btn{
  font-size: 16px;
}

.login_field .ivu-btn-success.active,.login_field .ivu-btn-success:hover{
  background-color: #3fab23;
  border-color: #3fab23;
}
/*登录页面的输入框 end*/

/*header*/
.ivu-layout-header{
  background: #fff;
  padding: 0;
}

/*左边菜单栏*/
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  color: #51b213;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after{
  background: #51b213;
}
.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover{
  color: #51b213;
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover{
  border-bottom: 2px solid #51b213;
  color: #51b213;
}

.ivu-dropdown-rel a{
  color: #51b213;
}

.ivu-menu-vertical .ivu-menu-item{
  padding: 0;
}

.ivu-menu-item .menuDiv{
  padding: 14px 24px;
}

.ivu-menu-submenu-title{
  padding: 14px 24px;
}

/*全部的type为success的按钮样式*/
.ivu-btn-success{
  background: -webkit-linear-gradient(left bottom, #65b901 , #3fab23); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(top right, #65b901, #3fab23); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(top right, #65b901, #3fab23); /* Firefox 3.6 - 15 */
  background: linear-gradient(to top right, #65b901 , #3fab23); /* 标准的语法（必须放在最后） */
  border-color: #63b802;
}

.ivu-btn-success.active, .ivu-btn-success:active{
  background-color: #3fab23;
  border-color: #3fab23;
}

/*icon鼠标手势*/
.ivu-icon{
  cursor: pointer;
}

/*Model样式修改start 按钮type=primary*/
.ivu-modal-header p, .ivu-modal-header-inner{
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  text-align: center;
}

.ivu-btn-primary{
  background: -webkit-linear-gradient(left bottom, #65b901 , #3fab23); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(top right, #65b901, #3fab23); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(top right, #65b901, #3fab23); /* Firefox 3.6 - 15 */
  background: linear-gradient(to top right, #65b901 , #3fab23); /* 标准的语法（必须放在最后） */
  border-color: #63b802;
}

.ivu-btn-text{
  border-color: #3fab23;
  color:#3fab23;
}
.ivu-btn-text:hover{
  color:#51b213;
  border-color: #51b213;
}
/*Model样式修改end按钮type=primary*/

/*重置按钮start 按钮type=warning*/
.ivu-btn-warning{
  border-color: #3fab23;
  background-color:#fff;
  color: #3fab23;
}

.ivu-btn-warning:focus{
  box-shadow: 0 0 0 2px rgba(63,171,35,.2);
}

.ivu-btn-warning.active, .ivu-btn-warning:active{
  background-color: #fff;
  border-color: #3fab23;
  color:#3fab23
}
.ivu-btn-warning:hover{
  background-color: #fff;
  border-color: #51b213;
  color:#51b213
}

/*重置按钮end 按钮type=warning*/

.ivu-btn:focus{
  box-shadow: 0 0 0 2px rgba(63,171,35,.2);
}
.ivu-btn.active,.tableDiv .ivu-btn:active {
  color: #3fab23;
  border-color: #3fab23;
}

.tableDiv .ivu-btn:hover{
  color:#51b213;
  border-color: #51b213;
}

/*tab悬停和激活状态的样式*/
.ivu-tabs-nav .ivu-tabs-tab:hover {
  color: #51b213;
}
.ivu-tabs-nav .ivu-tabs-tab-active {
  color: #51b213;
}

.ivu-tabs-ink-bar{
  background-color: #51b213;
}
/*富文本编辑器*/

.smeditor .input-area {
  width: 100% !important;
}
/*疑难求助输入框颜色*/
.problem .ivu-input-search {
  background: #51b213!important;
  color: #fff!important;
  border-color: #51b213!important;
  height: 45px;
  font-size: 1.2rem;
}
.problem .ivu-input{
  border-color: #51b213;
}
.problem .ivu-input:hover {
  border-color: #51b213;

}
.problem .ivu-input:focus {
  border-color: #51b213;
  outline: 0;
  box-shadow: 0 0 0 1px #51b213;
}
.problem .ivu-input-group-large .ivu-input{
  height:45px;
}
.problem .ivu-menu-light {
   background: none;
}
/*全屏modal*/
.fullModal .ivu-modal-content{
  background-color: #f5fbfa;
}

.ivu-notice{
 z-index: 9999;
}
.ivu-message{
  z-index: 9999;
}
/*清除iview框架自带的line-hight带来的编辑器高度变化*/
.database-add .ivu-form-item-content{
  line-height: unset !important;
}

/*聊天框的input*/
.chat_main_left_bottom .ivu-input{
  border: none;
  background-color: #fdfffc;
}
.chat_main_left_bottom .ivu-input:focus{
  box-shadow:none;
}
